@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--Weather Widget-->
    <a class="weatherwidget-io" href="https://forecast7.com/en/40d02n86d20/46074/?unit=us" data-label_1="WESTFIELD" data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="dark" >WESTFIELD WEATHER</a>
    <script>
    !function(d,s,id)
    {
        var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id))
        {
            js=d.createElement(s);
            js.id=id;
            js.src='https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js,fjs);
        }
    }
    (document,'script','weatherwidget-io-js');
    </script>

    <!--Google Calendar-->

    <!--Live Traffic & Newsfeed-->

</div>
